<h1>Community Deed Feed</h1>
<div class="">
  <div class="row feed_stats">
    <%= render partial: 'stat', locals: { value: @stat_1, title: 'Deeds Completed', color: 'orange' } %>
    <%= render partial: 'stat', locals: { value: @stat_2, title: 'Deeds in Progress', color: 'blue' } %>
    <%= render partial: 'stat', locals: { value: @stat_3, title: 'Smiles Given', color: 'gray' } %>
    <%= render partial: 'stat', locals: { value: @stat_4, title: 'Deeds for Funding', color: 'green' } %>
  </div>
</div>

<div class="mt-24"></div>
<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <%= render partial: 'shared/form/input_dropdown', locals: { label: 'Sort By...', placeholder: 'Most Smiles', items: ['Most Smiles', 'Needs Funding', 'Most Completed'] } %>
  </div>
</div>
<div class="mt-24"></div>

<% Deeds::Base.count.times do |idx| %>
  <% deed = Deeds::Base.find_by_id(idx + 1) %>
  <%= render partial: 'shared/card', locals: {id: idx + 1, image: deed[:image], title: deed[:title].html_safe, description: deed[:description].html_safe, count_completed: 0, count_in_progress: 0, in_progress: nil } %>
<% end %>
