<h1>Howdy Kind Stranger!</h1>

<div class="card callout--shadow">
  <div class="card__body">
    <h5>Your Activity</h5>
    <div class="row">
      <div class="col-sm-3">
        <div class="callout callout--color-primary">
          <h1>5</h1>
          <p>
            <strong>Deeds Completed</strong><br>
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="callout callout--color-primary">
          <h1>2</h1>
          <p>
            <strong>Deeds in Progress</strong><br>
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="callout callout--color-primary">
          <h1>10</h1>
          <p>
            <strong>Smiles</strong><br>
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="callout callout--color-primary">
          <h1>$45</h1>
          <p>
            <strong>$ Raised</strong><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-48"></div>
<h2>My Deeds In Progress</h2>
<%= render partial: 'shared/card', locals: {title: 'Give Toll $', description: "Pay for someone's groceries behind you.", times_completed: 12, in_progress: true } %>

<h2>Browse More Deeds</h2>
<%= render partial: 'shared/card', locals: {title: 'Carrying Groceries', description: 'Help a stranger carry groceries from the store to their car.', times_completed: 35, in_progress: nil } %>
<%= render partial: 'shared/card', locals: {title: 'Give Coffee $', description: 'Buy a coffee for someone behind you in line at the coffee shop.', times_completed: 3, in_progress: nil } %>

<%= link_to 'See More', feed_index_path, class: 'button button--large button--color-blue' %>
<%= link_to 'Create a Custom Deed', new_deed_path, class: 'button button--large' %>
