<div class="card" data-deed="<%= id %>">
  <div class="card__body">
    <h3 data-title="<%= id %>"><%=title %></h3>
    <div class="row">
      <div class="col-md-4 callout--shadow">
        <div class="empty-state__image">
          <%= image_tag deeds_thumbnail(thumbnail), alt: 'Helping out', class: 'empty-state__image', data: { 'thumbnail' => thumbnail } %>
        </div>
      </div>
      <div class="col-md-8 pl-24 position-relative">
        <div class="empty-state__description" data-description="<%= id %>">
          <%= description %>
        </div>
        <div class="card__footer pl-0 mt-12 italic">
          <p>
            <span class='color-green'><%= count_completed %> Completed</span>
            <span class="color-gray-light">|</span>
            <span class='color-gray'><%= count_in_progress %> In Progress</span>
          </p>
        </div>
        <div class="position-bottom-left">
          <div class="">
            <span class="ml-6 icons-item icon-profile cursor-pointer color-orange vertical-middle"></span>
            <span class="icons-text">smile</span>
            <span class='color-orange' data-smile-count="<%= id %>">45</span>
          </div>
        </div>
        <div class="mt-48 position-bottom-right row">
          <div class="">
            <span class="ml-6 icons-item icon-budget cursor-pointer color-green"></span>
            <span class="icons-text">give $ to Smile Fund</span>
          </div>
          <div class="">
            <span class="icons-item icon-plus cursor-pointer color-blue"></span>
            <span class="icons-text">add to My Deeds</span>
          </div>
          <% if in_progress %>
            <div class="">
              <span class="ml-6 icons-item icon-remove cursor-pointer color-red"></span>
              <span class="icons-text">remove from My Deeds In Progress</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-48"></div>

<script type="text/javascript">
  var copyDeedButtons = document.getElementsByClassName('icon-plus');
  var removeDeedButtons = document.getElementsByClassName('icon-remove');
  var budgetDeedButtons = document.getElementsByClassName('icon-budget');

  $(".icons-item").hover(function() {
    $(this).siblings('.icons-text').css('display', 'block');
    $(this).addClass('color-black');
  }, function() {
    $(this).siblings('.icons-text').css('display', 'none');
    $(this).removeClass('color-black');
  });

// copy deed to user list if click on + sign
  for (let el of copyDeedButtons) {
    el.addEventListener('click', function(e) {
      e.preventDefault();
      var card = findParentBySelector(this, '.card');
      var id = card.getAttribute('data-deed');
      // var title = card.querySelector('h3[data-title="' + id + '"]').textContent;
      // var thumbnail = card.querySelector('img[data-thumbnail]').getAttribute('data-thumbnail');
      // var description = card.querySelector('div[data-description]').textContent.replace(/\s+/g, " ").trim();
      UserDeedList.copy(id);
      hideIcon(this);
    })
  }

// remove deed from user list if click on remove sign
  for (let el of removeDeedButtons) {
    el.addEventListener('click', function(e) {
      e.preventDefault();
      var card = findParentBySelector(this, '.card');
      var id = card.getAttribute('data-deed');
      UserDeedList.delete(id);
      hideIcon(this);
    });
  }

  function findParentBySelector(elm, selector) {
    var all = document.querySelectorAll(selector);
    var cur = elm.parentNode;
    while(cur && !collectionHas(all, cur)) { //keep going up until you find a match
        cur = cur.parentNode; //go up
    }
    return cur; //will return null if not found
  }

  function collectionHas(a, b) { //helper function (see below)
    for(var i = 0, len = a.length; i < len; i ++) {
        if(a[i] == b) return true;
    }
    return false;
  }

</script>
