<%= render "shared/flash" %>

<nav class="nav overflow-hidden">
  <div class="float-left">
    <%= link_to root_path do %>
      <span class="icon-audience color-orange icon--extra-large"></span>
    <% end %>
  </div>
  <ul class="float-right">
    <li>
      <%= link_to 'home', root_path, class: active_tab(root_path)  %>
    </li>
    <li>
      <%= link_to 'dashboard', dashboard_index_path, data: { turbolinks: false }  %>
    </li>
    <li>
      <%= link_to "log in", '#', class: 'signin-button' %>
    </li>
    <li>
      <%= link_to "log out", '#', id: 'signout-button' %>
    </li>
  </ul>
</nav>
