<%= render "shared/flash" %>

<nav class="nav overflow-hidden">
  <div class="float-left pl-12">
    <%= link_to root_path do %>
    <div class="row col-md-12">
      <div class="col-md-3">
        <span class="icon-audience color-orange icon--large"></span>
      </div>
      <div class="col-md-7">
        <p class="font-extrabold uppercase">Help A Stranger Out</p>
      </div>
    </div>
    <% end %>
  </div>
  <ul class="float-right">
    <li>
      <%= link_to 'home', root_path, class: 'home-button'  %>
    </li>
    <li>
      <%= link_to 'feed', deeds_path, data: { turbolinks: false }, class: 'feed-button'  %>
    </li>
    <li>
      <%= link_to 'profile', '/profile', data: { turbolinks: false }, class: 'profile-button'  %>
    </li>
    <li>
      <%= link_to "log in", '#', data: { turbolinks: false }, class: 'signin-button' %>
    </li>
    <li>
      <%= link_to "log out", '#', data: { turbolinks: false }, class: 'signout-button' %>
    </li>
  </ul>
</nav>
