<% meta title: "Home", description: "Help a stranger out." %>

<div class="row text-center">
  <div class="col-md-12">
    <h1 class='uppercase fs-alpha'>Anonymous Acts of Kindness</h1>
    <div class="col-md-5 centered empty-state__image">
      <%= image_tag 'help-a-stranger.png', alt: 'Help a stranger out' %>
    </div>
    <div class="mt-12">
      <%= link_to 'sign up', '#', class: 'button button--large signin-button', data: { turbolinks: false} %>
      <%= link_to 'view deeds', deeds_path, class: 'button button--large button--color-blue feed-button', data: { turbolinks: false} %>
    </div>
  </div>
</div>

<div class="mt-48">
  <div class="empty-state empty-state--no-gutter">
    <div class="empty-state__content">
      <div class="empty-state__title">
        <h2>Launch a domino effect.</h2>
      </div>

      <div class="empty-state__description">
        <p>Kindness breeds kindness</p>
      </div>

      <div class="empty-state__buttons">
      </div>
    </div>

    <div class="empty-state__image">
      <%= image_tag '/deeds/give-a-hand.png', alt: 'Kindness breeds kindness', class: 'empty-state__images' %>
    </div>
  </div>
</div>

<div class="mt-48">
  <div class="empty-state empty-state--no-gutter">
    <div class="empty-state__image">
      <%= image_tag '/deeds/recognize.png', alt: 'Everything counts', class: 'empty-state__image' %>
    </div>

    <div class="empty-state__content">
      <div class="empty-state__title">
        <h2>Everything counts.</h2>
      </div>

      <div class="empty-state__description">
        <p>Even the smallest acts of kindness creates a social impact</p>
      </div>

      <div class="empty-state__buttons">
      </div>
    </div>
  </div>
</div>

<div class="mt-48">
  <div class="empty-state empty-state--no-gutter">
    <div class="empty-state__content">
      <div class="empty-state__title">
        <h2>Stranger to stranger.</h2>
      </div>

      <div class="empty-state__description">
        <p>Help a stranger to boost their faith in humanity</p>
      </div>

      <div class="empty-state__buttons">
      </div>
    </div>

    <div class="empty-state__image">
      <%= image_tag '/deeds/lift-a-burden.png', alt: 'Restore faith in humanity', class: 'empty-state__image' %>
    </div>

  </div>
</div>

<div class="mt-48">
  <div class="empty-state empty-state--no-gutter">
    <div class="empty-state__image">
      <%= image_tag 'celebrate.png', alt: 'Celebrate', class: 'empty-state__image' %>
    </div>


    <div class="empty-state__content">
      <div class="empty-state__title">
        <h2>Anonymous generosity.</h2>
      </div>

      <div class="empty-state__description">
        <p>Minimize solicitations and maximize focus on the impact</p>
      </div>

      <div class="empty-state__buttons">
      </div>
    </div>
  </div>
</div>

<div class="mt-48 text-center">
  <%= link_to 'sign up', '#', class: 'button button--large signin-button', data: { turbolinks: false} %>
  <%= link_to 'deed feed', deeds_path, class: 'button button--large button--color-blue feed-button' %>
</div>

<script type="text/javascript">
if (window.location.search.indexOf('authResponse') > -1) {
  if (blockstackSession.isSignInPending()) {
    blockstackSession.handlePendingSignIn().then(userData => {
      window.location.href = '<%= deeds_path %>';
    })
  }
}
</script>
