<h1>Howdy Kind Stranger!</h1>
<div id="profile-stats"></div>

<div class="mt-48"></div>
<h2>My Deeds In Progress</h2>
<div id="profile-deeds-in-progress"></div>
<div id="no-deeds-in-progress">
  <%= render partial: "shared/empty_user_deeds", locals: { title: "No deeds in progress!", description: 'Browse more deeds or create your own.'}  %>
</div>

<div id="completed-deeds-title">
  <h2>Completed Deeds</h2>
</div>
<div id="profile-deeds-completed"></div>

<div id="feedOrCreateButtons">
  <%= link_to 'see more', deeds_path, class: 'button button--large button--color-blue', data: { turbolinks: false } %>
  <%= link_to 'create a new deed', new_deed_path, class: 'button button--large' %>
</div>

<div id="no-completed-deeds">
  <%= render partial: "shared/empty_user_deeds", locals: { title: "No completed deeds yet!", description: 'Browse more deeds or create your own.'}  %>
</div>

<%= render "shared/render_profile_feed" %>

<script type="text/javascript">
</script>
