<div class="callout callout--color-green callout--action cursor-pointer sign-in-callout signin-button shadow-secondary">
  <p class=''><%= link_to 'sign in to start doing good!', '#', class: 'no-text-decoration color-white-override font-weight-500', data: { turbolinks: false } %></p>
</div>

<div class="row">
  <div class="col-md-9">
    <h1>Community Deed Feed</h1>
  </div>
  <div class="col-md-3">
    <div class="pt-36 float-right">
      <div class="button button--large shadow-secondary no-hover-color-change create-custom-deed-button">
        <%= link_to 'create a new deed', new_deed_path, class: 'color-white' %>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="row feed_stats">
    <%= render partial: 'stat', locals: { value: @stat_1, id: 'deeds-completed', title: 'deeds completed', color: 'orange' } %>
    <%= render partial: 'stat', locals: { value: @stat_2, id: 'deeds-in-progress', title: 'deeds in progress', color: 'blue' } %>
    <%= render partial: 'stat', locals: { value: @stat_3, id: 'smiles-given', title: 'smiles given', color: 'gray' } %>
    <%= render partial: 'stat', locals: { value: @stat_4, id: 'deeds-for-funding', title: 'deeds for funding', color: 'green' } %>
  </div>
</div>

<!-- <div class="mt-24"></div>
<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <%# <%= render partial: 'shared/form/input_dropdown', locals: { label: 'Sort By...', placeholder: 'Most Smiles', items: ['Most Smiles', 'Needs Funding', 'Most Completed'] } %> %>
  </div>
</div> -->
<div class="mt-24"></div>


<div id="all-deeds"></div>

<%= render "shared/render_public_feed" %>

<div class="callout callout--color-orange callout--action cursor-pointer create-custom-deed-button shadow-secondary">
  <p class=''><%= link_to 'create a new deed', new_deed_path, class: 'no-text-decoration color-white-override font-weight-500' %></p>
</div>

<script type="text/javascript">

  // var signInCallOut = document.getElementsByClassName('sign-in-callout');
  //
  // for (let el of signInCallOut) {
  //   el.addEventListener('click', function(e) {
  //
  //   });
  // }


  // for (let el of copyDeedButtons) {
  //   var card = findParentBySelector(el, '.card');
  //   var id = card.getAttribute('data-deed');
  //   if (UserDeedList.all.includes(id)) {
  //     hideIcon(el);
  //   }

</script>
