<h1>Community Deed Feed</h1>
<div class="">
  <div class="row feed_stats">
    <%= render partial: 'stat', locals: { value: @stat_1, id: 'deeds-completed', title: 'Deeds Completed', color: 'orange' } %>
    <%= render partial: 'stat', locals: { value: @stat_2, id: 'deeds-in-progress', title: 'Deeds in Progress', color: 'blue' } %>
    <%= render partial: 'stat', locals: { value: @stat_3, id: 'smiles-given', title: 'Smiles Given', color: 'gray' } %>
    <%= render partial: 'stat', locals: { value: @stat_4, id: 'deeds-for-funding', title: 'Deeds for Funding', color: 'green' } %>
  </div>
</div>

<div class="mt-24"></div>
<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <%= render partial: 'shared/form/input_dropdown', locals: { label: 'Sort By...', placeholder: 'Most Smiles', items: ['Most Smiles', 'Needs Funding', 'Most Completed'] } %>
  </div>
</div>
<div class="mt-24"></div>

<% @deeds.each do |deed| %>
  <%= render partial: 'shared/card', locals: {id: deed.id, thumbnail: deed.thumbnail, title: deed.title.html_safe, description: deed.description.html_safe, count_completed: deed.count_completed, count_in_progress: deed.count_in_progress, count_smiles_given: deed.count_smiles_given } %>
<% end %>

<%= render "shared/card_listeners" %>

<script type="text/javascript">
</script>
