<h1>Community Deed Feed</h1>
<div class="">
  <div class="row feed_stats">
    <%= render partial: 'stat', locals: { value: @stat_1, id: 'deeds-completed', title: 'Deeds Completed', color: 'orange' } %>
    <%= render partial: 'stat', locals: { value: @stat_2, id: 'deeds-in-progress', title: 'Deeds in Progress', color: 'blue' } %>
    <%= render partial: 'stat', locals: { value: @stat_3, id: 'smiles-given', title: 'Smiles Given', color: 'gray' } %>
    <%= render partial: 'stat', locals: { value: @stat_4, id: 'deeds-for-funding', title: 'Deeds for Funding', color: 'green' } %>
  </div>
</div>

<!-- <div class="mt-24"></div>
<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <%= render partial: 'shared/form/input_dropdown', locals: { label: 'Sort By...', placeholder: 'Most Smiles', items: ['Most Smiles', 'Needs Funding', 'Most Completed'] } %>
  </div>
</div> -->
<div class="mt-24"></div>

<div class="callout callout--color-green callout--action cursor-pointer sign-in-callout signin-button">
  <p class=''><%= link_to 'sign in to donate and create your own deed list!', '#', class: 'no-text-decoration color-white-override' %></p>
</div>

<div id="all-deeds"></div>

<%= render "shared/render_public_feed" %>

<script type="text/javascript">

  // var signInCallOut = document.getElementsByClassName('sign-in-callout');
  //
  // for (let el of signInCallOut) {
  //   el.addEventListener('click', function(e) {
  //
  //   });
  // }


  // for (let el of copyDeedButtons) {
  //   var card = findParentBySelector(el, '.card');
  //   var id = card.getAttribute('data-deed');
  //   if (UserDeedList.all.includes(id)) {
  //     hideIcon(el);
  //   }

</script>
