<div class="form__item">
  <textarea name="<%= id %>" id="<%= id %>" rows="3" class="form__textarea"></textarea>
  <label for="<%= id %>" class="form__label"><%= label %></label>
  <div class="form__description"><%= description %></div>
</div>
