<div class="form__item">
  <div class="radio-group radio-group--max-height overflow-auto">
    <div class="radio-group__label">Choose a Thumbnail Picture</div>

    <div class="">
      <div class="col-md-2 pl-0 pr-0 display-inline-block hide" id='recognize_pic'>
        <div class="empty-state__image">
          <%= image_tag '/deeds/recognize.png', alt: 'Recognize' %>
        </div>
      </div>
      <div class="col-md-2 pl-0 pr-0 display-inline-block hide" id='lift-a-burden_pic'>
        <div class="empty-state__image">
          <%= image_tag '/deeds/lift-a-burden.png', alt: 'Lift a burden' %>
        </div>
      </div>
      <div class="col-md-2 pl-0 pr-0 display-inline-block hide" id='spread-positivity_pic'>
        <div class="empty-state__image">
          <%= image_tag '/deeds/spread-positivity.png', alt: 'Spread positivity' %>
        </div>
      </div>
      <div class="col-md-2 pl-0 pr-0 display-inline-block hide" id='donate-time_pic'>
        <div class="empty-state__image">
          <%= image_tag '/deeds/donate-time.png', alt: 'Donate Time' %>
        </div>
      </div>
      <div class="col-md-2 pl-0 pr-0 display-inline-block hide" id='donate-money_pic'>
        <div class="empty-state__image">
          <%= image_tag '/deeds/donate-money.png', alt: 'Donate Money' %>
        </div>
      </div>
      <div class="col-md-2 pl-0 pr-0 display-inline-block hide" id='give-a-hand_pic'>
        <div class="empty-state__image">
          <%= image_tag '/deeds/give-a-hand.png', alt: 'Give a Hand' %>
        </div>
      </div>
    </div>


    <div class="radio">
      <input type="radio" name="<%= id %>" id="recognize" value="recognize">
      <label for="recognize">
        Recognize
      </label>
    </div>

    <div class="radio">
      <input type="radio" name="<%= id %>" id="lift-a-burden" value="lift-a-burden">
      <label for="lift-a-burden">
        Lift a burden
      </label>
    </div>

    <div class="radio">
      <input type="radio" name="<%= id %>" id="spread-positivity" value="spread-positivity">
      <label for="spread-positivity">
        Spread positivity
      </label>
    </div>

    <div class="radio">
      <input type="radio" name="<%= id %>" id="donate-time" value="donate-time">
      <label for="donate-time">
        Donate time
      </label>
    </div>

    <div class="radio">
      <input type="radio" name="<%= id %>" id="donate-money" value="donate-money">
      <label for="donate-money">
        Donate money
      </label>
    </div>

    <div class="radio">
      <input type="radio" name="<%= id %>" id="give-a-hand" value="give-a-hand" checked="checked">
      <label for="give-a-hand">
        Give a hand
      </label>
    </div>
</div>

<script type="text/javascript">
  var thumbnails = document.querySelectorAll("input[type='radio']");
  showThumbnail();

  $("input[type='radio']").on('change', function() {
    showThumbnail();
  })

  function showThumbnail() {

    thumbnails.forEach(function(el) {
      var picId = el.id + '_pic';
      var picEl = document.getElementById(picId);
      if (el.checked == true) {
        picEl.classList.remove('hide');
      } else {
        picEl.classList.add('hide');
      }
    });
  }
</script>
